.breadcrumbb-black{
  a, strong{
            color: #000 !important;
        }
}
#aboutus{
    a.join-now{
        text-transform: uppercase;
        font-size: 16px;
        color: #58595b;
        border:2px solid #58595b;
        font-weight: 900;
        padding: 10px 25px;
         -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:     25px 0 0 34px;
    display: block;
    width: 138px;
    margin-left: 34px;
    }
.econofitness-concept{
    h2{
        padding-bottom: 9px;
        text-transform: none;
        color: #000000;
        display: inline-block;
        border-bottom: 4px solid #ffc130;
    }
    .text{
        padding: 8px 101px 78px 101px;
        p{
            font-size: 18px;
            color: #000000;
        }
    }
}
.why-join.platinum-text-img{
    h2{
            margin-top: -10px;
    padding-bottom: 34px;
        color: #000;
    }
    .vcenter{
        position: relative
    }

}
}

    a.join-now{
        text-transform: uppercase;
        font-size: 16px;
        color: #58595b;
        border:2px solid #58595b;
        font-weight: 900;
        padding: 10px 25px;
         -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:     25px 0 0 34px;
    display: block;
    width: 138px;
    margin-left: 34px;
    }
.workout{
    h2{
        padding-bottom: 9px;
        text-transform: none;
        color: #000000;
        display: inline-block;
        border-bottom: 4px solid #ffc130;
    }
    .text{
        padding: 8px 101px 78px 101px;
        p{
            font-size: 18px;
            color: #000000;
        }
    }
}
.why-join.platinum-text-img{
    h2{
            margin-top: -10px;
    padding-bottom: 34px;
        color: #000;
    }
    .vcenter{
        position: relative
    }

}



    .video-link{
        position: absolute;
            left: 0;
    right: 0; 
    text-align: center;
    top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

    }
.nav-bottom{
    .active{
        text-decoration: underline
    }
}