body{
    font-family: "avenir";
    overflow-x:hidden;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}

img {
    max-width: 100%;
    height: auto;
}
.centered{
    text-align: center;
}
.container {
    max-width: 1020px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    ul li {
        background: url(images/Pouce.png) no-repeat;
        list-style-type: none !important;
        margin-left: 0 !important;
        padding-left: 33px !important;
    }
}
strong{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    font-family:"avenir-black";
    font-size: 16px;
}
h2{
    font-size: 25px;
    font-family:"avenir-black";
    text-transform: uppercase;
}
p{
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 10px;
}



.btn {
    padding: 7px 25px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
.yellow-btn {
    background: #ffb623;
    border: 2px solid #ffb623;
}
.right-aligned{
    text-align: right;
}
.container.centered {
    margin-bottom: 40px;
}
.text-center{
    text-align: center;
}
.top-text {
    margin-top: 20px;
    margin-bottom:40px;
}
.top-text .text-center {
    max-width: 750px;
    margin: 0 auto;
}
sup {
    font-size: 0.4em;
    position: relative;
    vertical-align: top;
    top: 4px;
}
@media screen and (max-width: 992px){
    .breadcrumbb{
        display:none;
    }
}

@media screen and (max-width:767px){
    .mob-row{
        margin:0;
    }
    .mobile-row{
        margin-left: -15px;
        margin-right: -15px;
    }
}