section.blog {
    padding-top: 50px;
}
.blog-categories{
    width: 150px;
    p{
        font-family:"avenir-black";
        color: #000;
        font-size: 18px;
        margin-bottom: 10px;
    }
    ul{
        li{
            border-bottom: 1px solid #ffb623;;
            &.active{
                background: #ffb623;
                a{
                    font-family:"avenir-black";
                    color: #000;
                }
            }
            a{
                font-size: 16px;
                color: #000;
                font-family:"avenir";
                display:block;
                padding: 5px 5px;
            }
        }
    }
}
.blog-main-story{
    img{
        max-width: 100%;
    }
}

.blog-main{
    font-size: 16px;
    p{
        margin-bottom: 20px;
        font-size:16px;
    }
    img{
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    ul{
        margin-left:50px;
        font-size:16px;
        li{
            list-style-type: square;
        }
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 18px;
        color: #000;
    }
}
#blog-title{
 color: #000;
 font-size: 24px; 
 font-family:"avenir-black";
 margin-bottom: 10px;
}
.blog-four{
    margin-bottom: 50px;
}
.blog-main-stories {
    margin-bottom: 30px;
}
.blog-four-post{
    img{
        max-width: 140px;
        height: auto;
        float:left;
        margin-right:10px;
        margin-bottom: 40px;
        padding-top: 4px;
    }
    .featured-blog-date {
        margin-bottom: 5px;
    }
}
.blog-four-link{
    font-family:"avenir-black";
    color: black;
}

.blog-four-header {
    font-family: "avenir-black";
    color: #000;
    font-size: 18px;
    border-bottom: 1px solid #ffb623;
    margin-bottom: 30px;
    padding-bottom: 15px;
    a{
        color: #000;
    }
    img{
        padding-right: 15px;
        max-width: 100px;
    }
}
.blog-main-continue{
    font-size: 14px;
    color: #2d2d2d;
    font-family: "avenir-black";
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}
.blog-main-title{
    font-family: "avenir-black";
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    color: #000;
}
.blog-main-story{
    .featured-blog-date{
        padding-top:10px;
        margin-bottom:0px;
    }
}
.blog-more-posts-link{
    text-align: center;
}
.blog-post-list-item{
    display: table;
    border-bottom: 1px solid #ffb623;;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &:last-child {
        border-bottom: 1px solid #ffb623;;
    }
    &-img{
        display:table-cell;
        width: 230px;
    }
    img{
        float:left;
        max-width: 100%;
    }
}
.blog-four-post-details{
    display:table-cell;
    vertical-align:top;
    padding-left: 30px;
}
.addthis_inline_share_toolbox {
    margin: 30px 0px;
}
.blog-pagination{
    font-size: 16px;
    margin-bottom: 100px;
    ul{
        width: calc(100% - 205px);
        text-align: center;
        display:inline-block;
        li{
            display:inline-block;
            padding: 0px 10px;
            font-size: 18px;
        }
    }
    a{
        color: black;
        font-family: "avenir-black";
    }
}
.blog-pagination-prev {
    display: inline-block;
    width: 100px;
    span{
        padding-right: 10px;
        font-size: 12px;
        text-decoration: underline;
    }
}
.blog-pagination-next {
    display: inline-block;
    width: 100px;
    text-align: right;
    float:right;
    span{
        text-decoration: underline;
        font-size: 12px;
        padding-left: 10px;
    }
}
section.blog-details {
    padding-top: 50px;
}
@media screen and (max-width: 767px){
    .blog-four .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .blog-main-story{
        padding: 0px 0px;
        margin-bottom: 20px;
    }
    .blog-main-stories .featured-blog-details-list {
        padding: 0px 0px;
    }
    .blog-categories {
        width: 100%;
        margin-bottom: 30px;
    }
    .blog-four-post img {
        max-width: 100%;
        margin-bottom: 10px;
        float: initial;
    }
    .blog-four-post-details {
        display: block;
        padding-left: 0px;
    }
    .blog-four-post {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &:last-child{
            border-bottom: 0px;
            margin-bottom: 0px;
        }
    }
    .blog-post-list-item-img {
        display: block;
        width: 100%;
    }
    .blog-post-list-item img {
        float: initial;
    }
    .blog-pagination-prev {
        display: inline-block;
        width: 80px;
    }
    .blog-pagination ul {
        width: calc(100% - 150px);
        text-align: center;
        display: inline-block;
    }
    .blog-pagination-next {
        width: 65px;
    }
    .blog-pagination {
        font-size: 12px;
    }
    .blog-pagination ul li {
        padding: 0px 5px;
        font-size: 12px;
    }
}