.class-page{
    &-top{
        text-align:center;
        margin-bottom: 20px;
        h2{
            margin-bottom: 20px;
        }
    }
}

.class-module-mobile-photo {
    height: 200px;
    background: url(images/class-bg.jpg);
    display:none;
    background-size: cover;
}
.class-module{
    &-wrap{
        display: table;
    }
    &-left{
        display: table-cell;
        background: url(images/class-bg.jpg);
        background-size:cover;
        img{
            position: absolute;
            margin: 10px;
        }
    }
    &-right{
        display: table-cell;
        width: 56%;
        text-align: center;
        background: #ececee;
        &__top{
            text-align: center;
            font-family: 'avenir-black';
            text-transform: uppercase;
            background: #ffb623;
            padding: 4px;
        }
        &__content{
            span{
                font-family: 'avenir-black';
                max-width: 160px;
                display:inline-block;
                margin-bottom: 20px;
            }
            padding: 40px 30px;
        }
    }
}

.class-module-stats{
    display: table;
    width: 100%;
}
.class-module-stat{
    background: #333132;
    text-align: center;
    width: 25%;
    border-right: 6px solid white;
    border-top: 6px solid white;
    display:table-cell;
    color: #ffb623;
    font-family: 'avenir-black';
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0px;
    &:last-child{
        border-right: 0px;
    }
    ul li {
        margin-left: 7px;
        height: 12px;
        width: 12px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        border:1px solid #ffcc3f;
    }
    ul li.no-empty {
        background: #ffcc3f;
    }
}


.see-class-module{
    background: url(images/class-schedule-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px 10px 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    &__title{
        font-family:'avenir-black';
        padding-bottom:0px;
        font-size: 18px;
    }
    select{
        padding: 5px;
        width: 240px;
    }
}

@media screen and (max-width: 767px){

    .class-module-stat {
        width: 100%;
        display: block;
        border-right: none;
        text-align: left;
        ul{
            display: inline-block;
        }
        span{
            padding-left: 20px;
            display:inline-block;
            width:140px;
        }
    }
    .class-module-right {
        display: table-cell;
        width: 100%;
        background: white;
    }
    .class-module-right__content {
        padding: 40px 15px;
        text-align:left;
    }
    .class-module-right__content span {
        font-family: 'avenir-black';
        text-align: center;
        max-width: none;
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .class-module-mobile-photo {
        display:block;
    }

}