#contact-us{
  width: 100%;
  padding-top: 2px;
  float: left;
  padding-bottom: 34px;
  clear: both;
  .region-accordion{
    padding-right: 20px;
    padding-top: 9px;
    max-width: 696px;
    float: left;
    width: 100%;
    .panel-default>.panel-heading{
      background-color: transparent;
      border-color: transparent;
      padding: 10px  0;
      color: #000;
      position: relative;
      h2{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
      }
      span{
        color: #000000;
        float: right;
        position: absolute;
        top: 10px;
        right: 25px;
        border-bottom: 1px solid #000000;
      }
    }
    .panel-default{
      margin-bottom: 40px;
      border-color: transparent;
    }
    .panel-body{
      padding: 4px 11px 0 14px;
      color: #000;
      h3{
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: -.7px;
        margin-bottom: 4px;
      }
      strong{
        a{
          color: #000;
        }
        font-size: 16px;
        i{
          font-size: 25px;
          position: relative;
          top: 4px;
        }
      }
      address{
        font-size: 16px;
      }
      .col-md-6{
        padding: 0;
      }
    }
    .panel{
      -webkit-box-shadow:none;
      box-shadow: none;
    }
  }

  .panel-heading {
    cursor: pointer;
  }
  /* CSS Method for adding Font Awesome Chevron Icons */
  .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f068";
    float: right;
    color: inherit;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 16px;
  }
  .panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f067";
  }
  .send-mail{
    max-width: 333px;
    width: 100%;
    float: left;
    h2{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 37px;
      color: #000;
    }
    input{
      border:1px solid #8a8a8c;
      height:33px;
      padding: 0 4px 0 14px;
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: #fff;
    }
    textarea{
      width: 100%;
      resize: none;
      padding: 12PX;
      background: #fff;
    }
    .small-input-left{
      float: left;
      width: 46%;
    }
    .small-input-right{
      float: right;
      width: 46%;
    }
    select{
      background: #fff;
      -webkit-appearance: none;
      width: 100%;
      height:33px;
      color:#58595b;
      padding-left: 11px;
      background: url(images/Drop.png) no-repeat right ;
      background-position: 98% 6px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:#58595b;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color:#58595b;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color:#58595b;
    }
    :-moz-placeholder { /* Firefox 18- */
      color:#58595b;
    }
    button{
      background: #ffc130;
      font-weight: 700;
      border-color: transparent;
      font-size: 16px;
      padding: 8px 54px;
      margin-top: 27px;

    }
  }
}
div#accordion a {
  color: black;
}
footer{
  clear: both;
}