.find-gym{

}

#find-location-map {
    height: 635px;
    width: 100%;
}

.find-gym{
    &__result{
        margin-left: 45px;
        margin-right: 25px;
        border-bottom: 1px solid black;
        padding-bottom: 25px;
        &:last-child{
            border-bottom: 0px solid black;
        }
        p{
            padding-bottom: 0px;
        }
        &--title{
            font-family: 'avenir-black';
            text-transform: uppercase;
            font-size: 18px;
            a{
                color: black;
            }
        }
        &--hours{
            span{
                font-family: 'avenir-black';
            }
        }
        &--directions{
            display:block;
            color: black;
            text-decoration: underline;
            font-family: 'avenir-black';
            font-size: 16px;
        }
        &--phone{
            display:block;
            color: black;
            font-family: 'avenir-black';
            font-size: 18px;
        }
    }
    &__overview{
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        span{
            font-family: 'avenir-black';
        }
    }
    &--title{

    }
    &__scroll {
        max-height: 635px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

}


body {
    counter-reset: section;
}
.find-gym .find-gym__result {
    counter-increment: section;
}
.find-gym__result::before {
    content: counter(section);
    background: #ffb623;
    position:relative;
    display:block;
    width: 30px;
    height: 30px;
    top: 35px;
    left: -40px;
    text-align: center;
    border-radius: 50%;
    font-family: 'avenir-black';
    font-size: 18px;
    padding-top: 3px;
}

.gm-style-iw {
    font-family: 'avenir';
    .find-gym__result--title {
        border-bottom: 2px solid black;
        margin-bottom: 5px;
        line-height: 1;
    }
    p{
        padding-bottom: 0px;
    }
}

.find-gym-region{
    #find-location-map {
        height: 435px;
        width: 100%;
        margin-bottom: 20px;
    }
}
.mobile-region-select{
    display:none;
}


@media screen and (max-width: 767px){
    .location__select-region {
        display: none;
    }
    .mobile-region-select {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .location__select-region--title strong {
        position: relative;
        background: white;
        top: auto;
        padding: 0px 20px;
    }
    #find-location-map {
        height: 300px;
        width: 100%;
    }
    .find-gym__overview {
        margin: 20px 0px;
    }
    .location__select--h1 {
        margin-top: 20px;
    }
    .find-gym__scroll {
        max-height: 400px;
    }
    .col-sm-7.find-gym__results {
        margin-top: 40px;
    }
}