@font-face {
    font-family: "avenir";
    src: url('fonts/AvenirLTStd-Roman.ttf');
}
@font-face {
    font-family: "avenir-light";
    src: url('fonts/AvenirLTStd-Light.ttf');
}
@font-face {
    font-family: "avenir-book";
    src: url('fonts/AvenirLTStd-Book.ttf');
}
@font-face {
    font-family: "avenir-bold";
    src: url('fonts/AvenirLTStd-Heavy.ttf');
}
@font-face {
    font-family: "avenir-black";
    src: url('fonts/AvenirLTStd-Black.ttf');
}
@font-face {
    font-family: "bauhaus";
    src: url('fonts/Bauhaus-Std-Medium.ttf');
}
@font-face {
    font-family: "bauhaus-bold";
    src: url('fonts/AvenirLTStd-Black.ttf');
}
@font-face {
    font-family: "bauhaus-demi";
        src: url('fonts/Bauhaus-Std-Demi_6295.eot');
        src: local('☺'), url('fonts/Bauhaus-Std-Demi_6295.woff') format('woff'), url('fonts/Bauhaus-Std-Demi_6295.ttf') format('truetype'), url('fonts/Bauhaus-Std-Demi_6295.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: "bauhaus-light";
    src: url(fonts/Bauhaus-Std-Light_6297.ttf);
}
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
