.footer{
    background: #58595b;
    &__location-finder{
        border-bottom: 4px solid #ffb623;
        text-align: center;
        background: #333132;
        color: white;
        padding: 10px 0px;
        font-size: 20px;
        input{
            padding: 5px;
            font-size: 16px;
            &[type=text]{
                min-width: 230px;
                margin-left: 40px;
            }
            &[type=submit]{
                background: #ffb623;
                font-family:'avenir-black';
                border-radius: 2px;
                margin-left: 5px;
                padding: 5px 15px;
            }
        }
    }
    &__top-links{
        margin-bottom:20px;
        text-transform: uppercase;
        text-align: center;
        li{
            padding: 0px 0px 0px 20px;
            display: inline-block;
            &:after{
                display: inline-block;
                content: "";
                height: 10px;
                width: 1px;
                background: white;
                margin-left: 20px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                color: white;
                font-size: 13px;
            }
        }
    }
    &__bottom-links{
        text-transform: uppercase;
        text-align: center;
        li{
            padding: 0px 0px 0px 20px;
            display: inline-block;
            &:after{
                display: inline-block;
                content: "";
                height: 10px;
                width: 1px;
                background: white;
                margin-left: 20px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                color: white;
                font-size: 13px;
            }
        }
    }
}

.footer-icons{
    color: #ffb623;
    font-weight: bold;
    border-bottom: 1px solid #4a4a4a;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 30px 115px 20px;
    span{
        display: block;
    }
    img{
        margin-right: 10px;
    }
}

.footer__extra{
    text-align: center;
    margin-top: 50px;
    padding-bottom:60px;
}
.footer__copyright{
    color: white;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}
.footer__social{
    color: white;
    display: inline-block;
    text-align: center;
    ul{
        li{
            display: inline-block;
            margin-right: 5px;
            a{

            }
        }
    }
}

.footer__location--bold{
    font-weight: bold;
}
.back-to-top{
    position: fixed;
    bottom:50px;
    right:75px;
    cursor: pointer;
    img{
        width: 60px;
    }
    p{
        color: #ffb623;
        font-size: 10px;
    }
}
.footer__social img {
    border-radius: 50%;
    border: 1px solid white;
}
@media screen and (max-width: 767px){

.footer__top-links{
    font-family: 'avenir-black';
}
.footer__top-links li, .footer__bottom-links li {
    padding: 0px 0px 30px 0px;
    display: block;
    text-align: left;
    font-size: 15px;
}
.footer__top-links li:after, .footer__bottom-links li:after {
    display: none;
}
ul.footer__top-links, ul.footer__bottom-links {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.footer__extra {
    margin-top: 0px; 
}
.footer__copyright {
    margin-right: 0px;
}
.footer__social {
    margin-top: 30px;
}
.footer-icons img {
    display: block;
    margin: 0 auto;
}
.footer-icons .col-sm-4 {
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 10px;
    }
}
.footer__location-finder input[type=text] {
    min-width: 230px;
    margin-left: 0px; 
    width: 100%;
    margin: 15px 0px 20px;
}
.footer__location-finder {
    padding: 20px 0px;
}
.footer__location-finder input[type=submit] {
    padding: 10px 20px;
    font-size: 18px;
}
.back-to-top {
    right: 15px;
}
.footer-icons {
    padding: 30px 0px 20px;
}
.footer-icons span {
    padding-top: 10px;
}
}