.free-trial-half-input {
    display: inline-block;
    width: 49%;
}
.form-free-trial form{
    text-align: left;
    input#email {
        margin-bottom: 15px;
    }
}




.free-trial{
    &__or{
        padding-bottom:0px;
        border-bottom:1px solid black;
        text-align: center;
        margin-bottom:20px;
        margin-top:-15px!important;
        span{
            position:relative;
            background: white;
            top:12px;
            padding:0px 10px;
            text-transform: uppercase;
        }
    }
    &__enter-city{
        position: relative;
        input[type="text"]{
            max-width: calc(100% - 60px);
        }
    }
    &__location-submit{
        display: inline-block;
        background: grey;
        color: white;
        padding: 7px;
        padding-bottom: 6px;
        font-family: "avenir-black";
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        right: 0px;
        width: 60px;
        cursor:pointer;
    }
}
.form-free-trial{
    h3{
        font-family:'avenir-black';
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.free-trial__select select{
    padding: 5px;
    width: 100%;
    border: none;
    border:1px solid #8a8a8c;
    margin-bottom:15px;
}

.news-signup .form-free-trial .large-input {
    margin-bottom: 0px;
    width: 100%;
}

.news-signup .form-free-trials .checkbox [type="checkbox"]:not(:checked) + label:after, .news-signup .form-news .checkbox [type="checkbox"]:checked + label:after {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 15px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
}
.news-signup .form-free-trial button {
    background: #ffb623;
    border: 0;
    float: right;
    margin-top: 0px;
}
.news-signup {
    display: table;
}
.news-signup .right-news {
    display: table-cell;
    float: initial;
    background: url(images/D-freeTrial1.jpg);
    background-size: cover;
}
.news-signup .right-news h2 {
position:static;
font-size: 30px;
}
#free-trial-map{
    width: 560px;
    height: 560px;
}
.form-free-trial__thursday-content {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.form-free-trial__senior-content {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 66%;
    text-align: center;
    padding-bottom:40px;
    h2{
        color: black!important;
    }
}
.form-free-trial__senior-content p {
    padding-bottom:0px;
}
.form-free-trial__thursday-content p{
    padding-bottom:0px;
}
.form-free-trial__thursday-content h2{
    color: #ffb623;
}
.form-group.large-input.free-trial__enter-city {
    margin-top: 7px!important;
}

.free-trial-thank-you{
    .free-trial__ty--date{
        font-size: 50px;
        font-family: 'avenir-black';
        color: silver;
        display: block;
        text-align: center;
    }
    h3{
        font-family: "avenir-black";
        font-size: 22px;
        text-align: center;
    }
    .free-trial__ty--time {
        font-family: "avenir";
        font-size: 18px;
        display: block;
        text-align: center;
        margin-bottom:60px;
    }
    .form-news p {
        text-align: center;
        margin-top: -15px;
    }
    .form-news {
        text-align: center;
        display:table;
        max-width: none;
        width: 100%;
    }
    .form-free-trial__thursday-content {
        padding: 40px;
    }
    .right-news {
        width: 560px;
    }
}
.free-trial-vcenter {
    display: table-cell;
    vertical-align: middle;
}
.free-trial-thank-you{
    width: 100%;
    float:initial;
    margin-bottom:0px;
}
.free-trial-bar{
    background: black;
    color: white;
    text-align:center;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 80px;
    a{
        color: white;
        font-family: "avenir-black";
        border-bottom: 2px solid #ffb623;
    }
}
.free-trial-vcenter h3 {
    font-family: "avenir";
    font-size: 22px;
}

/* This is for kentico only.*/
@media screen and (max-width: 992px){
    .news-signup {
        display: block;
        width: 100%;
        position: relative;
        background: white;
        margin-top: -100px;
    }
    .news-signup .right-news {
        display: block;
    }
    .news-signup .form-news {
        border: 1px solid #58595b;
        border-left: 1px solid #58595b;
        float: initial;
        max-width: none;
        width: 100%;
    }
    .tablet-free-trial{
        position: relative;
        background: url(images/free-trial-tablet.png);
        background-size: cover;
        background-position: bottom;
    }
    .form-free-trial__thursday-content {
        width: 66%;
        padding-top: 30px;
    }
    #free-trial-map {
        width: 100%;
        height: 380px;
    }
    .news-signup {
        display: block;
        width: 500px;
        position: relative;
        background: white;
        margin-top: -100px;
        margin: 0 auto;
        /* margin-top: -66px; */
        top: -50px;
        float:initial;
    }
    .form-free-trial__senior-content {
        bottom: 64px;
    }
    .free-trial-bar {
        background: black;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        width: 500px;
        top: -50px;
        position: relative;
        margin: 0 auto;
    }
    .form-free-trial__thursday-content {
        width: 66%;
        padding-top: 30px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .news-signup .form-news {
        max-width: none;
    }
}

@media screen and (max-width: 767px){
    .news-signup .form-news {
        padding: 0px;
        border: 0px;
    }
    .news-signup {
        top: 0px;
        width: 100%;
    }
    .tablet-free-trial{
        position: relative;
        background: url(images/free-trial-mobile.png);
        background-size: cover;
        background-position: bottom;
    }
    .form-free-trial__senior-content {
        bottom: 0px;
    }
    .form-free-trial__thursday-content {
        width: 200px;
        padding-top: 30px;
        margin-left: 20px;
    }
    .right-news{
        height: 380px;
    }
    #free-trial-map{
        display:none;
    }
    .news-signup .form-news .small-input-left {
        width: 100%;
    }
    .news-signup .form-news .small-input-right {
        width: 100%;
    }
    .free-trial-half-input {
        width: 100%;
    }
    .free-trial-bar {
        width: auto;
        top: 0px;
        margin: 0 -15px;
    }
    .news-signup .form-news {
        min-height: auto;
    }
    .free-trial-thank-you .form-free-trial__thursday-content {
        width: 100%;
        padding-top: 30px;
        margin-left: 0px;
    }
}