#group-fitness-vc{
    padding-bottom: 55px;
    .content-gf-vc{
        float: left;
        width: 100%;
        h2{
            font-size: 30px;
            color: #000;
        }

        .text{
            width: 57.8%;
            float: left;
            h4{
                font-size: 16px;
                font-weight: 900;
                color: #000;
                background: #ffc130;
                margin: 0;
                padding: 5.5px 5px;
            }
            h5{
                font-size: 16px;
                color: #000;
                font-weight: 900;
                line-height: 25px;
                padding-top: 30px;
                text-transform: uppercase;
                font-family: "avenir-black";
            }
            p{
                    line-height: 30px;
                        padding: 0 35px;
            }

        }
        .two-blocks{
            margin-bottom: 5px;
            float: left;
            background: #ececed;
        }
        .img{
            width: 42.2%;
            float: left;
            position: relative;
            img{
                &:last-child{
                    position: absolute;
                     -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        border: 2px solid #ffc130;
                            top: 10px;
    left: 10px;
                }
            }
        }
    }
    .four-blocks{
        .block{
                padding-top: 15px;

                color: #ffc130;
    background: #414042;
    width: 250px;
    float: left;
    margin-right: 10px;
    text-align: center;
    &:last-child{
        margin-right: 0; 
    }
    ul{
        padding: 0;
        list-style-type: none;
        li{
            width: 15px;
            height: 15px;
                     -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
            &.empty{
                border: 1px solid #ffc130;
            }
            &.no-empty{
                background: #ffc130;
        
            }
        }
    }
    p{
        padding-bottom: 0;
        font-weight: 900;
        text-transform: uppercase;
    }
        }
    }
    .find-classes{
        margin-top: 29px;
            padding-bottom: 29px;
        background: url(images/bg-find-class.png) no-repeat;
        background-size: cover;
        color: #fff;
        float: left;

            padding: 16px 15px 20px 15px;
    width: 100%;
        h5{
            font-size: 22px; 
            
            font-weight: 900;
        }
        p{
            font-size: 15px;
        }
        select{
                padding-left: 12px;

            -webkit-appearance: none;
            background: url(images/Drop.png) #fff no-repeat right ;
      background-position: 98% 6px;
      width: 266px;
      font-size: 14.6px;
      color: #58595b;
      display: block;
      height: 33px;
      margin: auto;

        }
    }
    .additional-classes{
        float: left;
        width: 100%;
        h3{
                padding-bottom: 20px;
            text-transform: uppercase;
            font-size: 20px;
            color: #000;
            font-weight: 900;
            font-family: "avenir-black";
        }
    }
    .calender-classes{
        padding: 35px 0 30px 0;

        float: left; 
        width: 100%;
        #calendar-mobile{
        display: none;
    }
        h2{
            font-size: 25px; 
            color: #000;
            font-weight: 900;
            text-transform: uppercase;
        }
        .select-choice{
            position: relative;
            float: left;
            text-align: center;
            width: 100%;
                padding-top: 30px;
            p{
                        display: inline-block;
    padding-right: 40px;
            }
            /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left:40px;
  cursor: pointer;
  color: #000;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 27px; height: 27px;
  border: 1px solid #79797b;
  background: #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
   border-radius: 0;

}
/* checked mark aspect */
[type="checkbox"]:checked + label:after {
    content: "\f00c";
    font-family: FontAwesome;
  position: absolute;
      top: 6px;
    left: 6px;
    font-size: 17px;
  line-height: 0.8;
  color: #000000;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}






        }
        table{
            background-image:url(images/stripe.png);
           
            tr{ 
                border-bottom-width: 0 !important;
                td{
                        padding: 12px 8px;
                    &:first-child{
                        background: #e8e6e6;
                        text-align: center;
                        font-size: 14px;
                        color: #000;
                        font-weight: 900;
                    }
                    &:not(:first-child){
                        width:132px;
                    }
                  
                }
                  &:nth-child(odd){
                        td{
                            &:not(:first-child){
                                border-bottom: 1px solid transparent;
                            }
                            
                        }
                        .class-schedule{
                            border-bottom:1px solid #000; 
                        }
                    }
            }
            thead{
                th{
                    border: 1px solid #000;
                    text-align: center;
                    text-transform: uppercase;
                     color: #000;     
                     font-weight: 900;  
                         padding: 13px 0; 
                         background: #e8e6e6;        
        }
            }
    tbody>tr>td{
        border: 1px solid #000;
    }
    .class-schedule{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
        padding: 0;
        text-align: center;
        color: #000;
        background: #ffc130;
        
        vertical-align: middle;
        p{
            font-weight: 900;
            font-size: 12px;
            margin: 0;
            padding: 0;
                position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
        }
        span{
            text-transform: uppercase;
            font-size: 12px;
            position:absolute;
                top: 2px;
    right: 7px;
        }
.hover-class{
    
    opacity: 0;
    position: absolute;
    top:0;
    text-align: center;
   
    i{
         color: #000;
            border: 1px solid #000;
    padding: 1px 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    }
p{
    font-weight: 900;
}
}
&:hover{
    .hover-class{
        opacity: 1;
            -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    background: #ffc130;
    height: 100%;
    width: 100%;
    

}
}
    }
        }
.pdf-schedule{
    padding-top: 14px;
    a{
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        float: right;
        border: 2px solid #000;
         -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    padding: 4px 13px;
    font-weight: 900;

    }
}
    }
.google-calendar{
    position: absolute;
    right: 0;
        top: 33px;

    span{
        font-size: 12px;
        color: #000;
    }
    i{
        border: 1px solid #000;
    padding: 1px 2px;
     -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    font-size: 10px;
    }
}
}