a{
    &:hover, &:focus{
        text-decoration: none;
    } 
}
#group-fitness{
    .four-categories{
        padding: 0px 0px 50px;
        max-width: 785px;
        margin: auto;
        width: 100%;
        h2{
            font-size: 30px;
            color: #000;
        }
        .item{
            width: 41.6%;
            margin-top: 28px;
            h4{
                padding: 5.5px 5px 5.5px 50px;
                
                text-transform: uppercase;
                &:before{
                     content: "";
                        left: -7px;
                        top: -10px;

                }
            }
            a{
                display: table;
                margin: auto;
                margin-top: 20px;
                color:#000;
                font-size: 15.93px;
                }
            p{
                padding: 10px 0 0 47px;
            }
            }
       
        }
            .item{
                .tite-img{
                    position: relative;
    h4{
                color: #000;
                position: relative;
                font-size: 16px;
                font-weight: 900;
                

            }
            img{
                 -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    position: absolute;
                    top: -7px;
                    left: -7px;
            }
                }
        
            a{
   
                i{
                    display: block;
                    text-align: center;
                    font-size: 35px;
                    border: 1px solid #000;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    margin: 7px auto 0 auto;
                }

            }
            p{
                color: #000;
                font-size: 16px; 
            }
            &.yellow-item{
                float: left;
              
                .tite-img{
                      h4{
                    background: #ffcc3f;
                }
                    img{
                        /*border: 2px solid #ffcc3f;*/
                        top: -10px;
                        left: -14px;
                    }
                }
            }
            &.white-item{
                float: right;
                .tite-img{
                    img{
                        /*border: 2px solid #000;*/
                        top: -10px;
                        left: -14px;
                    }
                    h4{
                        background: #fff;
                        border: 2px solid #000;              
                }
                }
       
            }
            &.grey-item{
                float: left;
                .tite-img{
                        h4{
                    background: #b4b5b8;                }
                    img{
                        /*border: 2px solid #b4b5b8;*/
                        top: -10px;
                        left: -14px;
                    }
                }
          
            }
            &.black-item{
                float: right;
                .tite-img{
                    h4{                         color: #fff;
                    background: #000000;
                    }
                img{
                /*border: 2px solid #000;*/
                top: -10px;
                left: -14px;
                }
                }

            }
        }
    .details-four-categories{
        float: left;
        width: 100%;
        border-top: 1px solid #e8e8e8;
        padding-top: 50px;
        padding-bottom: 40px;
         .row-item{
            float: left;
        }
        .title-categorie{
            float: left;
            width: 100%;
            padding-bottom: 30px;
            h4{
                max-width: 399px;
                width: 100%;
                padding: 5px 5px;
                font-size: 20px;
                padding-left: 55px;
                margin-left: 13px;
                margin-bottom: 25px;

                span{
                    text-align: right;
                    float: right;
                    padding-right: 8px;

                }
                &:before{
                    top: -15px;
                    left: -15px;

                }
            }

        }
        .workout-tip{
            display: none;
                margin-bottom: 60px;
            img{
                width: 100%;
            }
            .img-content{
                position: relative;
                transition: all 0.5s ease;
                    &:hover{
                        .hover-content{
                             opacity:1 ;
                        }

                    }
                } 
            .hover-content{
                background: rgba(0,0,0,.5);
                padding: 30px;
                width: 100%;
                height: 100%;
                    opacity: 0;
    -webkit-transition: all .2s ease-out; 
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
                p{
                    text-transform: uppercase;
                    font-size: 20.55px;
                    font-weight: 900;
                    color: #ffcc3f;
                    float: left;
                }
                ul{
                    padding-top: 10px;
                    float: right;
                    list-style-type: none;
                    li{
                        margin-left: 7px;
                        height: 12px;
                        width: 12px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        display: inline-block;
                        &.no-empty{
                            background: #ffcc3f;
                        }
                        &.empty{
                            border: 1px solid #ffcc3f;
                        }

                    }
                }
                .item-row{
                    float: left;
                    width: 100%;
                    padding-bottom: 0;
                    p{
                        padding-top: 0 !important;
                    }
                }
            }
        }
        .more-classes{
            float: left;
            width: 100%;
            a{
                display: table;
                margin: auto;
                font-size: 16px;
                color: #000;
                text-decoration: underline;
            }
        }
        .white-item{
            float: left;
        }
    }
    .grfitness-text-img{
            padding: 25px 0 76px 0;
            float: left;
            width: 100%;
        .video-link{
                position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
        }
a{
        text-transform: uppercase;
    font-size: 16px;
    color: #58595b;
    border: 2px solid #58595b;
    font-weight: 900;
    padding: 10px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 40px auto 0 auto;
    display: block;
    width: 160px;
}
strong{
    display: block;
    color: #000;
        padding-bottom: 26px;
}
    }
.four-categories-mobile{
    display: none;
}
}

#Strength-Training{
    .tite-img{
        img{
            top: -7px!important;
            left: -14px;
        }
    }
}

#Low-Impact{
    .tite-img{
        img{
            top: -7px!important;
            left: -14px;
        }
    }
}

#Mind-And-Body{
    .tite-img{
        img{
            top: -7px!important;
            left: -14px;
        }
    }
}
#Cardio-Classes{
    .tite-img{
        img{
            top: -7px!important;
            left: -14px;
        }
    }
}

@media screen and (max-width: 767px){
    #group-fitness .details-four-categories .workout-tip {
        padding-bottom: 20px!important;
    }
}