#gym-map{
    width: 100%;
    height: 300px;
}

.gym-details__top{
    .container{
        display: table;
    }
    .col-sm-7 {
        display: table-cell;
        float: none;
    }
    .col-sm-5 {
        display: table-cell;
        float: none;
        vertical-align: bottom;
        text-align: right;
        span{
            font-family: 'avenir-black';
        }
    }
}

.gym__details{
    &--h1{
        font-size: 24px;
        text-transform: uppercase;
        span{
            display:block;
            font-family: 'avenir-black';
        }
    }
}

.gym-details{
    &__phone{
        display: block;
        background: #ffb623;
        color: black;
        font-family: 'avenir-black';
        font-size: 21px;
        text-align: center;
        margin-bottom: 15px;
        padding: 5px 0px;
        img{
            position:relative;
            margin-right: 10px;
            top:-2px;
        }
    }
}
.gym-details__content{
    .yellow-btn{
        margin-right: 20px;
    }
}
.gym__details-border{
    border-bottom:1px solid black;
    margin-bottom: 20px;
}
.gym-hours {
    border: 1px solid black;
    margin-top: 15px;
    &__title{
        width: 100%;
        background: #58595b;
        color: white;
        display: block;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: "avenir-black";
        padding: 5px 0px;
    }
}
.gym-day {
    padding: 3px 0px;
}
.gym-day:nth-child(odd) {
    background: #f1f1f1;
}
.gym-day.active{
    background: #fcedd0;
}
.gym-day{
    &-wrapper{
        padding: 10px;
    }
}

.gym-directions a{
    color: black;
    text-decoration: underline;
    text-align: right;
    display: block;
}
.gym-amenities {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    span{
        text-transform: uppercase;
        display:inline-block;
        margin-bottom:10px;
    }
    li{
        margin-bottom:5px;
    }
}
.gym-address {
    font-family: 'avenir-black';
    margin-bottom: 15px;
}
.gym-amenities ul li{
background: url(images/checkmark.png);
background-repeat:no-repeat;
list-style: none;
padding-left: 30px;
}

#aniimated-thumbnials a{
    display: none;
    &:first-child{
        display:block;
    }
}
#lg-share{
    display: none;
}
#lg-actual-size{
 display: none;
}
.lg-autoplay-button{
 display: none;
}
#lg-download{
    display: none;
}
.mobile-gym-address{
    display:none;
}
.gym-photos {
    position: relative;
}
.gym-photo-count {
    display: inline-block;
    float: right;
    position: absolute;
    bottom: 4px;
    right: 10px;
    background: white;
    padding: 5px 5px 0px;
    border-radius: 3px;
    font-family: 'avenir-black';
    font-size: 11px;
    img{
        position: relative;
        top: -2px;
    }
}

@media screen and (max-width: 992px){
    .badge p {
        width: auto;
        display: inline-block;
    }
    .badge {
        background-color: grey;
        padding: 5px;
        width: 100%!important;
        float: right;
        height: 38px;
        color: #fff;
        position: static;
        right: 0;
        text-align: center;
        top: 167px;
    }
    .badge img {
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    .badge {
        margin-bottom: 0px!important;
        margin-top: 0px!important;
        width: 100%!important;
        height: auto!important;
        margin-left: 0%!important;
        position: static!important;
        float: none!important;
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .gym-details__top .container {
        display: block;
    }
    .gym-details__top .col-sm-7 {
        display: block;
        border-bottom: 1px solid black;
        float: none;
    }
    .gym-details__top .col-sm-5 {
        text-align: left;
        padding-top: 10px;
    }
    .gym__details-border{
        display:none;
    }
    .gym-details__content .btn {
        margin: 0 auto;
        display: block;
        width: 200px;
        text-align: center;
    &.yellow-btn{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    }
    .gym-details__content {
        margin-bottom: 40px;
    }
    .calendar-title {
        text-align: center;
        font-size: 21px;
        border-top: 1px solid black;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .gym-address{
        display:none;
    }
    .mobile-gym-address {
        display: block;
        font-size: 18px;
        margin-top: 15px;
    }
}