.location__select-region{
    border: 1px solid black;
    ul{
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 20px;
        li{
            display:inline-block;
            border: 1px solid black;
            width: calc(20% - 30px);
            margin:10px;

            text-align: center;
            a{
                padding: 10px 0px;
                display: block;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}

.location__select-region--title {
    text-align: center;
    strong{
        position: relative;
        background: white;
        top: 24px;
        padding: 0px 20px;
    }
}

.location__select--h1{
    font-family: "avenir-black";
    text-align: center;
    margin-bottom: 5px;
    font-size: 24px;
}

@media screen and(max-width: 767px){
    .location__select-region--title strong {
        top: 5px!important;
    }
}