.membership-options-section{
    background: url(images/D-index-membership-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    h2{
        color: white;
    }
}
#membership-page .breadcrumbb {
    color: white;
}
.membership-options-table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    th {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px;
        min-width: 240px;
        &:last-child {
            -webkit-box-shadow: 0 0 0 3px white;
            box-shadow: 0 0 0 3px white;
            position: relative;
            z-index: 2;
        }
    }
    td{
        padding: 5px 15px;
        border-right:1px solid #bcbec0;
        text-align: center;
        &:first-child {
            width: 300px;
            text-align:left;
        }
        &:last-child{

        }
    }
    tr:nth-child(even) {
        background: #f9f9f9;
    }
    tr:nth-child(odd) {
        background: #ededee;
    }
    tr.table-heading {
        background: #bcbec0!important;
        border-bottom:1px solid black;
        td{
            text-transform:uppercase;
            font-family:"avenir-black";
            font-size: 16px;
            border-bottom: 1px solid black;
        }
    }
    &--compare{
        background: black;
        color: white;
        cursor: pointer;
        width: 300px;
        &.active:after{
            @include transform(rotate(0deg));
        }
    }
    &--econo{
        background: white;
        color: black;
    }
    &--platinum{
        background: #ffb623;
        color: black;
    }
    &--extra{
        background: #58595b;
        color: white;
    }
    &__disclaimer{
        color: white;
        display:inline-block;
        max-width: 230px;
        float: right;
        margin: 20px 0px;
        a{
            color: #ffb623;
            text-decoration:underline;
        }
    }
}

.membership-options__content {
    width: 268px;
    display: inline-block;
    text-align: left;
    padding: 20px;
    top: 0px;
    position: relative;
    &--freeze{
        background: #333132;
        font-family: "avenir";
        border-style: solid;
        border: 4px solid #ffb623;
        color: #ffb623;
        padding: 5px 14px;
        margin-bottom: 15px;
        display: block;
        @include transform(rotate(-12deg));
        width: 200px;
        height: 200px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        border-radius: 50%;
        font-size: 18px;
        span{
            font-family: "avenir-black";
            font-size: 24px;
            display: block;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 5px;
        }
    }
}
.membership-options__chevron{
    width: calc(33% - 90px);
    background: white;
    color: black;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
    &--platinum{
        background: #f9e7c4;
        .membership-options__chevron--title{
            background: #ffb623;
        }
    }
    &--extra{
        background: #d0d1d1;
        border: 4px solid white;
        border-bottom:none;
        border-radius: 5px;
        &:before {
            display:none
        }
        
        &:after {
            display:none
        }
        svg{
            position:absolute;
            left: 0px;
        }
        .membership-options__chevron--title{
            background: #58595b;
            color: white;
            font-family: "avenir-black";
        }
    }
    &--title{
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        padding: 10px 2px;
        -webkit-box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.3);
        box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.3);
    }
    &--price {
        font-size: 28px;
        font-family: "avenir-black";
        text-align: center;
        padding-top:20px;
        sup {
            vertical-align: 8px;
            font-size: 16px;
        }
    }
    &--per {
        text-align: center;
    }
    &--join {
        padding-top: 20px;
    }
    &--btn{
        width: 100%;
        max-width: 166px;
        margin: 0 auto;
        display: inline-block;
        background: #ffb623;
        border:1px solid #ffb623;
        text-align:center;
    }
    &--conditions a {
        color: black;
        text-decoration: underline;
        display: inline-block;
        padding-top: 15px;
    }
    &--available{
        background: black;
        padding: 3px;
        a{
            color: #ffb623;
            text-decoration: underline;
            font-family: 'avenir-black';
        }
    }
}
.membership-options__mobile{
    display:none;
}
.mobile-freeze{
 display:none;
}
img.membership-chevron {
    bottom: 0px;
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
}

@media screen and (max-width: 1199px){
    .membership-options__content {
        width: 238px;
    }
    img.membership-chevron {
        bottom: -32px;
    }
    .membership-options__chevron {
        width: calc(33% - 81px);
    }
}

@media screen and (max-width: 992px){
    img.membership-chevron {
        top: calc(100% - 1px);
    }
    .membership-options__chevron--extra{
        img.membership-chevron {
            top: calc(100% - 5px);
        }
    }
.membership-options-table th {
    min-width: 180px;
    font-size: 15px;
    &.membership-options-table--compare{
        font-size: 12px;
    }
}

.membership-options__content {
    width: 186px;
}
.membership-options__chevron {
    width: calc(33% - 72px);
}
.membership-options__chevron--btn {
    max-width: 140px;
}
.membership-options__content--freeze {
    width: 160px;
    height: 160px;
    padding-top: 34px;
    font-size: 16px;
}
.membership-options__content--freeze span {
    font-size: 18px;
}
.membership-options__chevron--per {
    text-align: center;
    font-size: 11px;
}
.membership-options__chevron--price {
    font-size: 24px;
}
.membership-options__chevron--conditions a {
    font-size: 12px;
}
.membership-options-table__disclaimer {
    max-width: 175px;
    font-size: 12px;
}
}






@media screen and(max-width: 767px){
    .membership-options__mobile--content img {
        max-width: 20px;
    }
    img.membership-chevron {
        display:none;
    }
.membership-options__mobile{
    display:block;
}

.membership-options__content {
    display: none;
}
.membership-options__chevron {
    width: 100%;
    &:after{
        display: none;
    }
}
.membership-options__chevron--per {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1;
}
.membership-options__chevron--conditions {
    padding-bottom: 10px;
}
.membership-options__chevron--extra svg {
    display: none;
}


.membership-options__mobile {
    text-align: left;
    &--title {
        padding: 10px 15px;
        border-top: 2px solid black;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'avenir-black';
        border-bottom: 2px solid black;
        &.inactive{
            border-bottom: none;
        }
        &.inactive span:after {
            display:inline-block;
        }
    }
    &--content{
        li {
            padding: 10px 0px;
            font-size: 16px;
        }
        p {
            padding: 10px 15px 5px;
            text-transform: uppercase;
            font-family: 'avenir-black';
        }
    }
    &--toggle{
        display:inline-block;
        width: 17px;
        background: black;
        height: 2px;
        margin-top: 9px;
        float:right;
        &:after {
            display:none;
            content: "";
            width: 16px;
            height: 2px;
            background: black;
            transform: rotate(90deg);
            position: relative;
            top: -12px;
        }
    }
    &--content ul {
        border-bottom: 1px solid black;
        margin: 0px 15px;
        padding-bottom: 10px;
        font-family: 'avenir-black';
        &:first-of-type {
            font-family: 'avenir';
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.membership-options__chevron--available a {
    font-size: 16px;
}
.membership-options__chevron--available {
    background: black;
    padding: 10px 0px;
}
.membership-options__chevron--extra {
    border: 5px solid white;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.membership-options-table {
    display: none;
}
.membership-options__chevron--price {
    font-size: 34px;
    line-height: 1;
    padding-top: 30px;
}
.membership-options__chevron--price sup {
    vertical-align: 12px;
    font-size: 18px;
}
.membership-options-section {
    padding: 40px 10px;
}
.membership-options__chevron--btn {
    max-width: 240px;
    font-family: "avenir-black";
    font-size: 18px;
}
.membership-options__chevron--conditions a {
    font-size: 16px;
}
.membership-options-table__disclaimer {
    max-width: 100%;
    font-size: 16px;
    text-align: center;
    float:initial;
}
.membership-options__chevron:last-child{
    margin-bottom: 20px;
}
.membership-options__content--freeze {
    width: 280px;
    height: 280px;
    padding-top: 60px;
    font-size: 28px;
    margin: 0 auto;
    margin-top: 10px;
}
.membership-options__content--freeze span {
    font-size: 36px;
}
.mobile-freeze{
 display:block;
}
}