#membership-page{
  .breadcrumbb {
    margin-top: 0;
    a, strong{
      color: #fff !important;
    }
  } 
  .testimonials-section{
    padding-bottom: 60px;
    padding-top: 65px;

  }
  .membership-faq{
    padding-top: 45px;
  }


   .panel-default{
      display:none;
    }
}

  .membership-faq-accordion{
    h2{
      color: #000;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .inner {
      padding-left: 1em;
      overflow: hidden;
      display: none;

      &.show {
        /*display: block;*/
      }
    }
    ul {
      list-style: none;
      padding: 0;



      li {
        margin: .5em 0;

        a.toggle {
          width: 100%;
          display: block;
          background: rgba(0,0,0,0.78);
          color: #fefefe;
          padding: .75em;
          border-radius: 0.15em;
          transition: background .3s ease;

        }
      }
    }
    .panel{
      -webkit-box-shadow: none;
      box-shadow: none;
      .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family:'FontAwesome';
        content:"\f077";

        position: absolute;
        left: -15px;
        color: inherit;
        top: 0;
      }
      .panel-heading.collapsed .accordion-toggle:after {
        content:"\f078";

      }
    }
    .panel-body{
      padding-left: 43px;
      font-size: 16px;
      color: #000;

    }
    .panel-default>.panel-heading{
      background: transparent;
      border-color: transparent;
      h2{
        font-size: 18px;
        text-transform: none;
        color:#000000;
        position: relative;
        padding-left: 11px;
      }
    }
    .panel-default{
      border-color: transparent;

    }
    .panel-group{
      padding-top: 15px;
    }
    .panel-group {
      margin-bottom: 0px;
  }
    .panel-group .panel-heading+.panel-collapse>.panel-body.panel-group .panel-heading+.panel-collapse>.panel-body{
      border-top-color: transparent;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body{
      border-top-color: transparent;
    }
  }
   .membership-faq .btn{
      color: #363636;
      font-size: 16px;
      border: 2px solid #363636;
      font-weight: 600;
      padding: 7px 13px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: block;
      width: auto;
      max-width: 190px;
      margin: auto;
      font-family: 'avenir-black';
  }