/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    line-height: 1;
    font-size: 36px;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
    vertical-align: top;
    position: absolute;
    top: -10px;
    right: -12px;
    font-family: "avenir-light";
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#membership-modal{
    .modal-content {
        background-color: #d0d1d1;
        width: 450px;
        position:relative;
        &__header{
            background: #58595b;
            color: white;
            font-size: 30px;
            text-align: center;
            font-family: "avenir-black";
            text-transform: uppercase;
            padding: 15px 0px;
        }
        &__body{
            padding: 40px;
            text-align: center;
            & > span{
                font-size: 16px;
                margin-top: 20px;
                margin-bottom: 20px;
                display:block;
            }
            p{
                font-size: 25px;
                span{
                    font-family: "avenir-black";
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    #membership-modal .modal-content {
        width: calc(100% - 29px);
    }
    #membership-modal .modal-content__body {
        height: 66vh;
        overflow: scroll;
    }
}