@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    transform: $transforms;
}
.nav-top{
  padding: 15px 0px;
  &__logo {
    display: inline-block;
    width: 34%;
  }
  &__links{
    text-align: right;
    width: 65.5%;
    display: inline-block;
    &--search{
      img{
        position: relative;
        top: -1px;
        padding-right:10px;
      }
    }
    & > ul{
      li{
        display:inline-block;
        &:last-child{ 
          img{
            position: relative;
            top: -3px;
            padding-right: 10px;
          }
          a{
            border-right:0px;
            padding-right:0px;
          }
        }
        a{
          color: black;
          font-size: 12px;
          padding: 0px 10px;
          border-right: 1px solid black;
        }
      }
    }
  }
}

.nav-bottom{
  background: #ffb623;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  padding:8px 0px;
  & .container > ul{
    display: table;
    width: 100%;
    & > li{
      display: table-cell;
      vertical-align: middle;
      & > a{
        color: black;
        text-transform: uppercase;
        font-size: 15px;
        font-family: "avenir";
        display: inline-block;
        padding: 5px;
        padding-bottom: 0px;
        border-bottom:1px solid #ffb623;
        transition: 0.2s;
        &.nav-btn{
          padding-bottom: 5px;
        }
        &:hover{
          border-bottom:1px solid black;
        }
      }
      &:last-child{
        text-align: right;
        a{
          border-bottom:1px solid black;
        }
      }
      &:first-child a{
        padding-left:0px;
      }
    }
  }
}

.nav-btn{
  border:1px solid black;
  border-radius:2px;
  font-weight: bold;
}

.nav-dropdown {
    display:none;
    position: absolute;
    background: #ffb623;
    min-width: 150px;
    padding: 15px 0px;
    left: -5px;
    z-index: 2;
    li{
      padding: 5px 20px;
      a{
        text-transform:capitalize;
        color: black;
        display: inline-block;
        border-bottom:1px solid #ffb623;
        transition: 0.2s;
        &:hover{
          border-bottom:1px solid black;
        }
      }
    }
}

.has-dropdown {
    position: relative;
    &:after{
      content: "";
      display:inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #2f2f2f;
        @include transform(rotate(180deg));
      transition: 0.2s;
      position: relative;
      top: -2px;
    }
    &:hover{
      &:after{
        @include transform(rotate(0deg));
      }
    }
}

.nav-search{
  width:0px;
  padding: 0px;
  opacity:0;
  border:none;
  outline: 1px solid white;
  padding: 2px 0px;
  transition: 0.3s;
  &-submit{
    width: 0px;
    padding:0px;
    border: none;
    background: #ffb623;
    opacity:0;
    cursor: pointer;
    padding: 2px 0px;
  }
}
.nav-top__links--search{
  &.active{
    input{
      padding: 2px 5px;
      opacity:1;
      outline: 1px solid black;
      display:inline-block;
      &[type=text]{
        width: 150px;
      }
      &[type=submit]{
        width: 54px;
        border: none;
        background: #ffb623;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
}

.nav-scrolled{
    position: fixed;
    top: -100px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    background: #ffb623;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    padding:8px 0px;
    &.active{
      display: block;
      position: fixed;
      top: 0px;
      z-index: 9;
    }
  img{
    max-height: 25px;
  }
  .nav-btn{
    background: black;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3px;
  }
}
.hamburger{
  display:none;
}
.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
    background-color: black;
}
.nav-btn-mob{
  display:none;
}
.nav-top__mobile-join{
  display:none;
}
@media screen and (max-width: 992px){
.nav-btn-mob {
    display: inline-block !important;
    padding: 5px 9px;
    text-align: center;
    text-transform: uppercase;
    max-width: 75px;
    color: black;
    font-family: "avenir-black";
}
.nav-top {
    background: #ffb623;
    padding: 0px 0px;
    max-height: 70px;
}
.nav-top__mobile-join{
  display:inline-block;
  padding-top: 8px;
  margin-left: 20px;
}
.hamburger{
  display:inline-block;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 30px;
    height: 2px;
}
.nav-bottom {
    background: #fff;
    display:none;
}
.nav-bottom .container > ul > li {
    display: block;
    & > a{
      width: 100%;
      padding: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      border-bottom: 1px solid #a9a9a9;
    }
}
.nav-top__logo {
    display: inline-block;
    width: calc(100% - 173px);
    text-align: center;
    top: -10px;
    position: relative;
}
.nav-btn {
    display: none!important;
    &-mob{
      display:inline-block!important;
    }
}

.nav-top__mobile-join {
    display: inline-block;
}

.nav-bottom .container > ul:nth-child(2) li a {
    text-transform: capitalize;
}
.nav-bottom .container > ul > li:last-child {
    text-align: left;
    img{
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
}
.nav-bottom .container > ul > li:last-child a {
    border-bottom: none;
}
.has-dropdown:after {
    position: absolute;
    right: 0px;
    top: 20px;
}
.nav-search {
    display: none;
}
.nav-search-submit {
    display: none;
}
.nav-top__links--search.active input[type=text] {
    width: calc(100% - 60px);
}
li.has-dropdown {
    border-bottom: 1px solid #a9a9a9;
}
.has-dropdown > a {
    width: 50%!important;
}
.has-dropdown  a {
    border-bottom: 0px!important;
}
.nav-dropdown {
    position: static;
    background: white;
    padding-top: 0px;
}
}


@media screen and (max-width: 767px){

.nav-btn-mob {
    margin-right: 10px;
}
.nav-top__logo {
    width: calc(100% - 183px);
}
.nav-top__logo img {
    max-width: 145px;
}


}