.breadcrumbb{
  margin-top: 20px;
    padding: 0;
  
  li{
    float: left;
    list-style: none;
    color: #000;
  }
  a{
    color: #000;
  }
  strong{
    
    margin-top: -3px;
    text-transform: none;
    padding-left: 4px;
  }
}
.news-signup.free-trial-thank-you.newsletter-container {
  margin-bottom: 80px;
  .free-trial-thank-you.form-news{
    border-bottom: 1px solid #58595b;
  }
  .free-trial-thank-you h3 {
    font-family: "avenir";
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  form {
    margin-top: 15px;
  }
}

.news-signup.free-trial-thank-you.newsletter-container .free-trial-thank-you p {
  text-align: left;
  margin-top: 0px;
}

.news-signup{
  clear: both;
  .right-news{
    max-width: 570px;
    float: left;
    position: relative;
    h2{
      color: #ffb623;
      position: absolute;
      top: 35px;
      left: 0; 
      right: 0;
      text-align: center;
    }
  }

  
  .tablet-img{
    display: none;
  }
  .form-news{
    min-height: 560px;
    border: 1px solid #58595b;
    border-bottom:none;
    border-left:0;
    padding: 35px 43px 28px 43px;
    background: #fff;
    max-width: 427px;
    float: left;
    display: table;
    max-width: none;
    width: 100%;
    p{
      font-size: 14px;
    }
    input{
      border:1px solid #8a8a8c;
      height:33px;
      padding: 0 4px 0 14px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      width: 100%;
background: #fff;
    }
    .large-input{
      margin-bottom: 25px;
      width: 100%;
      input{
        width: 100%;
      }
    }
    label{
      display: block;
      font-size: 14px;
      font-weight: 900;
      padding-bottom: 3px;
      text-align:left;
    }
    button{
      background: #ffb623;
      border:0;
      float: right;
      margin-top: 39px;
    }
    .small-input-left{
      float: left;
      width: 46%;
    }
    .small-input-right{
      float: right;
      width: 46%;
      padding-bottom: 20px;
    }
    .checkbox{
      clear: both;
      margin-bottom:7px;
      label{
        font-weight: 500;
      }
      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }
      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
      }
 
      /* checkbox aspect */
      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 19px;
        height: 19px;
        border: 1px solid #8a8a8c;;
        background: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
      }
      /* checked mark aspect */
      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        content:"\f00c";
        font-family: FontAwesome;
        position: absolute;
        top: 4px;
        left: 2px;
        font-size: 15px;
        line-height: 0.8;
        color: #ffb623;
        transition: all .2s;
      }
      /* checked mark aspect changes */
      [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0)
      ;
      }
      [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      /* disabled checkbox */
      [type="checkbox"]:disabled:not(:checked) + label:before,
      [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      [type="checkbox"]:disabled:checked + label:after {
        color: #999;
      }
      [type="checkbox"]:disabled + label {
        color: #aaa;
      }


      /* hover style just for information */

    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:#58595b;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color:#58595b;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color:#58595b;
    }
    :-moz-placeholder { /* Firefox 18- */
      color:#58595b;
    }
.fill-out-form{
  display: none;
}
  }


}
.footer-without-search{
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.news-signup .right-news.newsletter-page{
  background: url(images/D-newsletter.jpg);
  background-size: cover;
}


@media screen and (max-width: 992px){
  .tablet-free-trial.tablet-newsletter{
    background: url(images/D-newsletter.jpg);
  }
}

@media screen and (max-width: 767px){
  .tablet-free-trial.tablet-newsletter{
    background: url(images/D-newsletter.jpg);
  }
  .newsletter-page{
    .form-free-trial__thursday-content {
      width: auto;
      padding-top: 30px;
      margin-left: 20px;
  }
  }
}