.econo-partner-offer{
    margin-bottom:100px;
    text-align: center;
    h2{
        font-family:"avenir";
        text-transform: initial;
        margin-top:20px;
        &:after{
            content:"";
            height: 2px;
            width:40px;
            background: #ffb623;
            display:block;
            margin: 10px auto;
        }
    }
}