  .platinum-text-img{
    padding-top: 60px;
    strong{
      padding-left: 0;
    }
    ul{
      padding: 0;


      li{
        background: url('images/Pouce.png') no-repeat;
        list-style-type: none !important;
        margin-left: 0 !important;
        padding-left: 33px !important;
      }
    }


  }

#platinum-zone{
  float: left;
  width: 100%;
  .top-text{
    text-align: center;
    h2{
      font-size: 26px;
      color: #000;    }
  }


}
