
.platinum-zone-tanning{
    .text{
        padding: 8px 101px 35px 101px !important;
    }
    .panel-default{
        display: none;
    }
    .membership-faq {
            padding-bottom: 50px;
    }
        .workout-tips{
            .two-blocks{
                max-width: 703px;
                margin: auto;

            }
        }

}