

@media only screen and (max-width: 1200px) {
    .news-signup{
        .right-news{
            max-width: 55%;
        }
        .form-news{
            min-height: 560px;
            button{
                margin-top: -8px; 
            }
            .large-input{
                margin-bottom: 15px;
            }
        }
    }
    #contact-us{
        .region-accordion{
            width: 64%;
        }
    }
    #group-fitness{
        .details-four-categories{
            .workout-tip{
                .img-content:hover{
                    .hover-content{
                        padding: 10px;
                    }
                }
            }
        }
    }
#group-fitness-vc{
    .four-blocks {
        .block{
            width: 24.25%;
            margin-right: 1%;
            ul{
                li{
                    width: 13px;
                        margin-right: 12px;
                    height: 13px;
                }
            }
        }
    }
}


}
@media (min-width: 992px) and (max-width:1199px){


        .membership-options-table{
            th{
                min-width: auto;
                width: 25%; 
            }
        }
}


@media only screen and (max-width: 992px) {
    #group-fitness-vc{
        .content-gf-vc{
            .two-blocks{
                img{
                   &:first-child{
                        height: 100%;
                   }
                }
            }
        }
    }
         .econofitness-concept{
                 .text{
                     padding: 8px 0 48px 0 !important;
                 }
            }
    #contact-us{
        .region-accordion{
            max-width: none;
            width: 100%;
        } 
        .send-mail{
            float: none;
            margin: auto;
            max-width: 402px;
            clear: both;
    padding-top: 30px;
            h2{
                text-align: center;
            }
            button{
                    display: block;
    margin: 27px auto 0 auto;
            }
        }
    }
#aboutus{
    .econofitness-concept{
        .text{
                padding: 8px 0 78px 0 !important;
        }
    }
}



#group-fitness{
    .four-categories{
        width: 95%;
        max-width: none;
        .item{
            width: 46%;
        }
    }
     .grfitness-text-img{
         a{
            margin: 10px auto 0 auto;
         }
         strong{
             padding-bottom: 0;
         }
     }
}
    .workout-tip-page{
        .express-workout{
            img{
                height: 100%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width:992px){
    .membership-options__chevron{
        &:after{
            border-left: 86px solid transparent;
            border-right: 86px solid transparent;
        }
    }
    .container{
        width: 100%;
    }
}
@media (min-width: 700px) and (max-width:992px){


    #group-fitness{
        .details-four-categories{
             .workout-tip {
                     .hover-content{
                         padding: 5px;
                         p{
                             font-size: 14px;
                         }
                            ul{
                                padding-top: 0;
                                li{
                                    margin-left: 0;
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                         .item-row{
                             padding-bottom: 0;
                         }    
                     }
                 
             }
        }
    }

}
@media screen and (max-width: 768px){
    #calendar-desktop{
        display: none;
    }
    #calendar-mobile{
        display: block !important;
        .panel-group{
            
            h2{
                font-size: 15px;
                text-align: center; 
            }
        }
        .panel-default>.panel-heading{
            background-color: #e2e0e0;
        }
        .panel-default{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border-color: #000;
            margin-bottom: 10px;
        }
        .panel-body{
            padding: 0 15px;
            .class-item{
                border-top :1px solid #000;
                background: #ffc130;
                color: #000;
                padding: 7px 30px 0 30px;
                p{
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }
                a{
                    color: #000;
                }
                i{
                    float: right;
                    font-size: 20px;
                    background: #fff;
                    padding: 4px 6px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    border: 1px solid #000;
                    position: relative;
                    top: -18px;

                }
            }
        }
         .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family:'FontAwesome';
        content:"\f0d8";
        float: right;
        color: inherit;
        font-size: 20px;
        position: relative;
        top: -4px;
}
    .panel-heading.collapsed .accordion-toggle:after {
        /* symbol for "collapsed" panels */
        content:"\f0d7";
}
    }
    #group-fitness-vc{
        .google-calendar{
            position: static;
            text-align: center;
            padding: 20px 0;
        }
        .content-gf-vc{
            .text{
                h5{
                    padding-top: 8px;
                }
                p{
                        padding: 0;
                }
            }
    }
        .calender-classes{
            .pdf-schedule{
                a{
                    width: 249px;
                    display: block;
                    margin: auto;
                    float: none;
                }
            }
        }

        }
    .why-join{
        strong{
            font-size: 16px;
        }
    }
    [class^='col-']{
        padding-left: 15px;
        padding-right: 15px;
    }
    #aboutus{
         .why-join.platinum-text-img{
             .vcenter{
                 width: 50%;
                 +.vcenter{
                    width: 50%
                 } 
             }
         }
    }
        .video-link{
            img{
                width: 60px;
            }
        }
        #aboutus{
           .why-join{
               strong{
                   font-size: 16px;
               }
           }
        }
    #search-content{
        .form-search{
            max-width: 100%;
            width: 100%;
            .input-group{
                display: block;
            }
            button{
                 margin-top: 20px;
             }
        }
            .content{
                padding-top: 12px;
            }
    }
        .breadcrumbb-news{
            display: none;
        }
}
@media screen and (max-width: 767px){
#platinum-zone,.additional-classes{
    .workout-tips{
             [class^='col-']{
                 padding-left: 0;
                 padding-right: 0;
             }
           
    }
}
    .workout-tips{
         .two-blocks{
             [class^='col-']{
                 padding-left: 0;
                 padding-right: 0;
             }
         }
           
    }
           .workout-tip{
                padding-bottom: 30px;
                max-width: 344px;
                margin: auto;
                float: none;
                width: 100%;
            }
               [class^='col-'].workout-tip{
                width: 100%; 
                float: none;
                margin: 0 auto 20px auto;
                padding-left: 15px;
                padding-right: 15px;

            }
       
    .news-signup{
        .container{
            padding-left: 0;
            padding-right: 0;
        }
        .right-news{
            width: 100%;
            max-width: none;
            img{
                width: 100%;
            }
        }
        .form-news{
                padding: 18px 15px 28px 15px;
                clear: both;
            width: 100%;
            max-width: none;
            border: 0;
            float: none;
            .small-input-left, .small-input-right{
                width: 100%;
            }
            .small-input-right{
                padding-top: 16px;
            }
            button{
                display: block;
                margin: auto;
                float: none;
            }
            h3,>p{
                text-align: center;
            }
            .fill-out-form{
                display: block;
                font-size: 24px;
                display: block;
                text-align: center;
                color: #000;
                text-transform: none;
            }
        }
    } 
    .workout-tip-page{
     
        .workout-text-img{
            padding: 45px 0 0 0 !important;
               a.join-now{
            display: block !important;
            margin: 10px auto 45px auto !important;
        }
        }
    .express-workout{
        h3{
            padding-top: 0;
            padding-bottom: 0;
        }
        img{
            width: 100%;
        }
         [class^='col-']{
             width: 100%;
         }
            .express-img-mobile{
                display: block;
                padding: 0 15px;
            }
             .express-img-desktop{
                display: none;
            }
    }
    }
#platinum-zone{
.platinum-text-img{
        padding-top: 0;
    }
}
    

  

    .breadcrumbb{
        display: none;
    }
    h2{
        font-size: 22px;
    }
    #aboutus{
        a.join-now{
            display: none;
        }
    }
    #aboutus{
        .why-join.platinum-text-img{
            .vcenter{
                width: 100% !important;
                margin-bottom:30px;
                   img{ 
                   display: block;
                    margin: auto;
                    float: none !important;
                }
            }
        }
    }
    #contact-us{
            padding-top: 25px;
        .region-accordion{
            .panel-body{
                .col-xs-6{
                    width: 100%;
                }
            }
        }
    }
    #group-fitness{
               span.rectangle{
                    width: 23px;
                    height: 23px;
                    display: block;
                    float: left;
                    margin-right: 12px;
                }
                        .rectangle-yellow{
                background: #ffc130;
            }
            .four-categories{
                width: 100%;
            }
            .rectangle-white{
                border: 2px solid #000;
                background: #fff;
            }
            .rectangle-grey{
                background: #a7a9ac;
            }
            .rectangle-black{
                background: #333333;
         }
        .details-four-categories{
            border-top: 0;
        }
    .four-categories-mobile{
        display: block;
        .panel-default>.panel-heading{
            padding: 10px 15px 10px 0;
            background: transparent;
            border-color: transparent;
            h2{
                font-size: 20px !important;
         
            }
        }

    
        .panel-default{
            border-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid #2d2b6d;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        .panel-group .panel-heading+.panel-collapse>.panel-body{
            border-top:0;
            color: #000;
            padding: 0;
        }
        .item{
            width: 100%;
            margin-top: 0;
            p{
                padding: 10px 16px 0 17px;
            }
            a{
                margin: 10px auto 21px auto;
            }
        }
         .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f068";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f067";
}
    }
   .details-four-categories{
       padding-top: 0;
        .row-item{
            width: 100%;
         
        }
        .title-categorie{
            h4{
                background: transparent !important;
                border: 0 !important;
                span{
                    &:first-child{

                    }
                }

            }
        }
        .more-classes{
            padding-top: 30px;
        }
    }
    .item{
        .tite-img{
            img{
                display: none;
            }
            .rectangle{
                float: left;
            }
            h4{
                padding-left: 0;
                max-width: none;
                margin-left: 0;
                padding: 0;
                span{
                    padding-right: 0;
                }
            }
        }
    }
    .item.white-item{
        .tite-img{
            h4{
                padding: 0;
            }
        }
    }
     .item.black-item{
         .tite-img{
             h4{
                color: #000;
             }
         }
     }
        .grfitness-text-img{
                padding: 0 0 76px 0;
            [class^='col-']{
                width: 100%;
            }
                img{
                    display: block;
                    margin: 40px auto 0 auto;
                }
        }

         .details-four-categories{
             .workout-tip{
                 margin-bottom: 0;
                 padding-bottom: 0;
             }
         }
    }
    
#group-fitness-vc{
    .content-gf-vc{
        .img{
            width: 100%;
            img{
                &:first-child{
                    width: 100%;
                    border: 10px solid #ffc130;
                }
                &:last-child{
                    display: none;
                }
            }
        }
        .two-blocks{
                position: relative;
                background: transparent;
            }
            .text{
                width:100%;
                 h4{
                    position: absolute;
                    top: 0;
                    width: 100%;
                 }
                h5{
                    br{
                        display: none;
                    }
                }
            }
    }
         .four-blocks{
             .block{
                padding: 0 25px;
                 width: 100%;
                 margin-right: 0;
                 margin-bottom: 8px;
                 text-align: left;
                 padding: 10px 25px;
                 p{
                     float: left;
                     margin: 0;
                 }
                    ul{
                        float: right;
                        position: relative;
                        top: 7px;
                    }
             }
         }
}
}

@media screen and (max-width: 600px){

.news-signup{
    .form-news{
        position: static;
        border: 0;
        h3,>p{
            text-align: center;
        }
        .small-input-left, .small-input-right{
            width: 100%;
        }
        .small-input-right{
            padding-top: 15px;
        }
         button{
            display: block;
            margin: auto;
            float: none;
         }
    }
}
#contact-us{
    .region-accordion{
        .panel-default >{
            .panel-heading{
                span{
                    display: none;
                }
            }
        }
        .panel-default{
            margin-bottom: 0;
                border-bottom: 1px solid #e2e0e0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    }
    .send-mail{
        .small-input-left{
            width: 100%;
        }
        .small-input-right{
            width: 100%;
        }
    }
}
}

@media screen and (max-width: 480px){
#calendar-mobile{
    .panel-body {
        .class-item{
            padding: 7px 10px 0 10px;
            p{
                    padding-right: 30px;

            }
        }
    }
}
.membership-options__content--freeze{
    width: 260px;
    height: 260px;
}
#search-content{
    .form-search{
        input[type='text']{
            font-size: 18px;
        }
    }
}
}

