#search-content{
    padding: 50px 0 40px 0;
    .form-search{
        max-width: 628px;
    width: 100%;
        input[type='text']{
            border: 0;
            border-bottom: 1px solid #ffb623;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow:none;
            box-shadow: none;
            font-size: 22px;
            color: #000;
            padding-left: 25px;
        }
        button{
            font-size: 16px;
            color: #000000;
            text-transform: uppercase;
            background: #ffb623;
            border: 0;
             -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin: -2px 0 0 4px;
        }
        .fa-search{
            position: absolute;
            top: 7px;
            color: #000; 
            z-index: 9;
            font-size: 18px; 
        }
    }
    .content{
        padding-top: 40px;
    }
    .result-search{
        h4{
            font-size: 24px;
            text-transform: uppercase;
            color: #000;
            font-family: "avenir-black";
        }
    }
    .content-search{
        h6{
            font-size: 22px;
                      border-bottom: 1px solid #000;
    display: inline;
            color: #000;
        }
        p{
            color: #000;
            font-size: 16px;
            padding-top: 8px;
  
        }
        .item{
            padding-top: 18px;
        }
    }

        .pagination{
            padding-top: 51px;
            display: table;
            margin: auto;
            li{
                float: left;
                margin: 0 5px;
               
                a{
                    padding: 6px 9px;
                    color: #000;
                    font-size: 16px;
                     border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0  !important;
                border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
                }
            }
        }

} 