.select-gym-module{
    background: silver;
    color: white;
    padding: 25px 130px 25px;
    margin-bottom: 50px;
    margin-top: 25px;
    &__text{
        font-size: 18px;
        margin-bottom: 10px;
        > span{
            padding: 0px!important;
            font-family: 'avenir-black';
        }
    }
    span{
        padding: 0px 30px;
        display:inline-block;
    }
    select {
        padding: 5px;
        width: 240px;
        border:none;
    }
    input[type=text]{
        padding: 5px;
        width: 240px;
    }
    input[type=submit]{
        background: #ffb623;
        font-family: 'avenir-black';
        border-radius: 2px;
        margin-left: 5px;
        padding: 5px 15px;
    }
}

.select-gym-module__full{
    background: silver;
    .select-gym-module {
        background: none;
        color: white;
        padding: 25px 130px 25px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}
.select-gym-module__full {
    background: url(/App_Themes/EconofitnessStyle/Images/D-FindGym-location2.jpg)!important;
    background-position: bottom!important;
    background-size: cover!important;
}