.why-join{
    padding: 30px 0px 40px;
    ul{
        li {
            background: url(images/Pouce.png) no-repeat;
            list-style-type: none !important;
            margin-left: 0 !important;
            padding-left: 33px !important;
            margin-left: 17px;
            padding-left: 20px;
            padding-bottom: 5px;
            font-size: 16px;
        }
    }
    strong{
        padding-left: 35px;
    }
}


@media screen and (max-width: 767px){

section.why-join ul {
    margin-left: 15px;
}
.why-join strong {
    padding-left: 16px;
    font-size: 24px;
}
.col-sm-5.vcenter:first-of-type {
    margin-bottom: 20px;
}

}