.workout-tips{
    padding-top: 30px;
    h2{
        margin-bottom: 40px;
        color: #000;
        font-size: 20px;
    }
    img{
        width: 100%
    }
}

.workout-tip{
    p{
        padding-top: 15px;
    }
    a{
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    span {
        width: 100%;
        background: #58595b;
        color: white;
        display: block;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: "avenir-black";
        padding: 5px 0px;
        margin-bottom: 15px;
    }
    .text-under-img{
        background: #58595b;
        height: 49px;
        position: relative;
    }
}
.workout-tip-section{
    background: #ececed;
    margin-bottom: 30px;
    margin-top: 20px;
}
.workout-tip-left{
    display:table-cell;
    width: 300px;
}
.workout-tip-right{
    display:table-cell;
    vertical-align:middle;
    padding: 0px 75px;
    text-align: center;
    strong{
        margin-bottom: 20px;
    }
    div{
        font-family: "avenir-black";
        margin-bottom:15px;
        margin-top: 20px;
    }
}

.container.workout-tips {
    margin-bottom: 50px;
}

@media screen and (max-width: 992px){
.workout-tip span {
    font-size: 15px;
    padding: 10px 0px;
}
}

@media screen and (max-width: 767px){

.workout-tips .row {
    margin: 0;
}

}