.workout-tip-page{
    .workout-text-img{
        margin-bottom: 20px;
        a.join-now{
            width: 158px !important;
            margin: 0 auto !important;
        }
        strong{
            display: block;
            color: #000;
        }
    }
    .express-workout{
            margin-top: 60px;
            background: #f1f1f1;
        h3{
            padding-top: 13px;
            padding-bottom: 20px;
            text-transform: uppercase;
            color: #000;
            font-size: 16px;
            font-weight: 900
        }
        strong{
            display: block;
            text-transform: none;
            color:#000;
        }
        .video-link{
            position: static !important;
            text-decoration: underline;
        }
        .express-img-mobile{
            display: none;
        }
    }
}
.workout-tip-details{
    .two-blocks{
        max-width: 703px;
        margin: auto;
    }
    .econofitness-concept{
        .bottom-text{
                padding-bottom: 75px;
            color: #000;
            strong{
                display: block;
            }
            a{
                    color: #363636;
    font-size: 16px;
    border: 2px solid #363636;
    font-weight: 600;
    padding: 10px 21px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    width: 190px;
        margin: 45px auto 0 auto;
            }
        }
        .text{
                padding: 8px 101px 48px 101px !important;

        }
    }
    .workout-tips{
        padding-bottom: 60px;
    }
} 