.yellow-bar{
    background: #ffb623;
    padding: 25px 0px;
    img{
        margin-right: 15px;
        vertical-align: top;
    }
    p{
        text-transform: uppercase;
        font-size: 20px;
        text-transform: uppercase;
        font-family: "avenir-black";
        color: black;
        display: inline-block;
        width: calc(100% - 150px);
        position: relative;
        top: 18px;
        line-height: 1.2;
    }
}


@media screen and (max-width: 992px){
    .yellow-bar img {
        max-width: 60px;
    }
    .yellow-bar p {
        font-size: 18px;
        width: calc(100% - 80px);
    }
}


@media screen and (max-width: 767px){

.yellow-bar {
    padding: 25px 30px;
    img {
        margin-right: 50px;
        max-width: none;
    }
    p{
        width: calc(100% - 155px);
    }
    .col-sm-4 {
        margin-bottom: 20px;
    }
}

}

@media screen and (max-width: 360px){

.yellow-bar {
    padding: 25px 20px;
    img {
        margin-right: 30px;
    }
}

}